body{
    font-size: 1.6rem;
}

main{
    padding: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    margin-top: 3rem;
}

span, button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type='checkbox']{
    display: none;
}

.label-option{
    background-color: var(--secondary-button);
    text-align: center;
    width: 100%;
    padding: 1rem;
    color: var(--main-bg);

    border-radius: 1.5rem;
    border: 0.5rem solid var(--main-bg);
    outline: 0.5rem solid var(--secondary-button);

    transition: all 0.5s ease;
    position: relative;

    cursor: pointer;
    user-select: none;
}

.label-option:hover{
    transform: scale(1.01);
    background-color: var(--secondary-button-hover);
    outline-color: var(--secondary-button-hover);
}

input[type='checkbox']:checked + .label-option{
    transform: scale(0.95);
    border: 0.5rem solid var(--success-lt);
    background-color: var(--secondary-button-hover);
    outline-color: var(--secondary-button-hover);
}
