{% load static %}
    {% include "global/partials/head.html" %}
    <link rel="stylesheet" href="{% static "ordens/css/edit.css" %}">
</head>
<body>
    {% include "global/partials/messages.html" %}
    
    {% include "global/partials/header.html" %}

    <main>
        <h2>Editando a OS {{ os_number }}</h2>
        <p>Selecione as alterações que deseja fazer</p>

        <form action="" method='POST'>
            {% csrf_token %}

            <span>
                <input type="checkbox" name="edit_options" id="add_pictures" value="add_pictures">
                <label class='label-option' for="add_pictures">Adicionar imagens de entrada</label>
            </span>

            <span>
                <input type="checkbox" name="edit_options" id="relatorio" value="relatorio">
                <label class='label-option' for="relatorio">Adicionar relatório de testes</label>
            </span>

            <span>
                <input type="checkbox" name="edit_options" id="add_final_pictures" value="add_final_pictures">
                <label class='label-option' for="add_final_pictures">Adicionar fotos de saída</label>
            </span>


            <button type="submit">Confirmar</button>
        </form>
    </main>




    {% comment %} <script src="{% static "global/js/auto_update.js" %}"></script> {% endcomment %}
</body>
</html>