{% load static %} 

{% include "global/partials/head.html" %}
    <link rel="stylesheet" href="{% static "ordens/css/index.css" %}">
</head>
<body>

    {% include "global/partials/header.html" %}

    <main>
        <h1>Você deseja:</h1>
        <div class="options">
            <a href="{% url "ordens:create" %}" class='option-button'>Cadastrar uma nova OS</a>
            <button id='edit-os' class='option-button'>Editar uma OS existente</button>
            <form action="{% url "ordens:edit" %}" id="form-os-number">
                <input type="text" inputmode="numeric" pattern="[0-9]*" name="os-number" id="os-number" placeholder="Digite o número da OS" >
                <button type="submit"><i class="fa-solid fa-check"></i></button>
            </form>
        </div>
    </main>


    {% include "global/partials/footer.html" %}
          
    <script src="{% static "ordens/js/toggle_visibility.js" %}"></script>
</body>
</html>